@font-face {
    font-family: "Cinzel";
    src: url('Cinzel.ttf');
}
@font-face {
    font-family: "Montserrat";
    src:url('Montserrrat.ttf')
}

*{
    margin:0;
    padding:0;
    transition:all 2s; 
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background:linear-gradient(135deg,#2c88be,  #196296,#143a6d, #131d44, #131320);
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Cinzel";
}
#particles-js{
    position: absolute;
    width:100%;
    height:109%;
    left: 0;
    top: -10%;
    z-index: -1;
}
form{
    height:60%;
    width:50%;
    background:transparent;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.inputs{
    border:none;
    background: transparent;
    border-bottom: 2px solid black;
    width:20vw;
    text-align: center;
    color:white;
    font-size: 20px;
    font-family: "Montserrat";
}
.inputs:focus{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    color:white;
}
p b{
    font-size: 20px;
    color:white;
    font-family: "Cinzel";
    letter-spacing:2px;
}
p{
    color: white;
}
h1{
    font-size: 40px;
    letter-spacing:5px;
    color: white;
}
#confirmar{
    width:20vw;
    height:30px;
    border-radius: 20px;
    background: transparent;
    border: none;
    color:rgb(194, 229, 248);
    font-size: 20px;
    font-family: "Cinzel";
    cursor:pointer;
}